h1{
    text-align: center;
    font-family: Arial, sans-serif;
    color: aliceblue;
}
body {
    background-color: #1fe78a;
}
img{
    width: 1000px;
    border: #000000;
    border-radius: 20%;
}
